@import "../../index.scss";

.body#login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 5.95vh);
  width: 100%;
  margin: 0;

  > .login-wrapper {
    .TextForm {
      &.invalid {
        border: 1px solid $error-color;
        border-radius: 5px;
      }

      &::has(#email) {
        grid-area: 6 / 2 / 6 / 2;
      }

      &::has(#password) {
        grid-area: 8 / 2 / 8 / 2;
      }
    }

    #submit {
      grid-area: 10 / 2 / 10 / 2;
      background: #fff;
      position: relative;

      input[type="button"] {
        height: 100%;
        width: 100%;
        background: none;
        border: none;
      }

      &.pending-response {
        animation: 2s pending-response infinite alternate;

        &::before {
          content: "Pending for server response";
          opacity: 1 !important;
          font-size: medium;
          position: absolute;
          display: block;
          height: 1.5em;
          margin-left: 205px;
          margin-top: -1.5em;
          background: #fff;
          border: 1px solid #000;
          width: 15em;
        }
      }

      &.unsuccessful-request {
        border: 1px solid $success-color;

        &::after {
          content: "Oops, server error. Please try again later";
          font-size: medium;
          position: absolute;
          display: flex;
          justify-content: center;
          height: 1.5em;
          margin-left: -30px;
          margin-bottom: -1.5em;
          background: #000;
          color: #fff;
          border: 1px solid $success-color;
          width: 285px;
        }
      }

      &.invalid-inputs::after {
        content: "Login data is invalid";
        font-size: medium;
        position: absolute;
        display: flex;
        justify-content: center;
        height: 1.5em;
        margin-left: -30px;
        margin-bottom: -1.5em;
        background: #000;
        color: #fff;
        border: 1px solid $success-color;
        width: 285px;
      }
    }

    .signup {
      font-size: medium;
      grid-area: 12 / 2 / 12 / 4;
    }
  }
}