@import "../../index.scss";

.ChooseActorPopup {
  display: none;
  position: absolute;
  // left: 0;
  // top: 0;
  height: 330px;
  width: 390px;
  background: #000;
}
.ChooseActorPopup.Active { 
  display: grid;
}
.ChooseActorPopup {
  grid-template-rows: 30px 270px 30px;
}

.ChooseActorPopup > .Search {
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

.ChooseActorPopup > .Search > input[type="text"] {
  height: 100%;
  width: calc(100% - 20px);
  font-family: "Noto Sans", sans-serif;
}

.ChooseActorPopup > .Actors {
  position: relative;
  display: grid;
  grid-template-rows: repeat(2, 135px);
  grid-template-columns: repeat(4, 90px);
  gap: 10px;
  background: #ddd;
  overflow-y: hidden;
}

.ChooseActorPopup > button#Submit {
  color: white;
}

span#PlaceholderText {
  position: absolute;
  bottom: 0;
}
.popup-stage-navigation > button {
  width: 49.5%;
  height: 100%;
  border: none;
  margin-left: 1%;
}

.popup-stage-navigation > button:hover {
  background: #d9d9d9;
}

.popup-stage-navigation > button:first-child {
  margin: 0;
}

.popup-stage-navigation > button[disabled] {
  background: #989898;
  color: #000;
}

.Actor {
  display: block;
  background: rgb(0, 107, 139);
}

.Actor.Chosen {
  border: #dd9906 solid;
}