.player {
  &.paused::before {
    content: "";
    position: absolute;
    margin-top: calc(7.5vh - 12.5px);
    margin-left: calc(7.5vw - 12.5px);
    height: 25px;
    width: 25px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25'%3E%3Crect x='0' y='0' width='10' height='25' fill='white' /%3E%3Crect x='15' y='0' width='10' height='25' fill='white'  /%3E%3C/svg%3E") no-repeat;
  }

  * {
    height: 100%;
  }
}