@import "../../index.scss";

.navbar-header {
  position: absolute;
  display: grid;
  grid-template-columns: 10% 60% 30%;
  background: $primary-orange;
  height: 5.95vh;
  width: 100%;
  top: 0;
  -webkit-box-shadow: 0px 6px 5px -4px rgba(161, 161, 161, 1);
  -moz-box-shadow: 0px 6px 5px -4px rgba(161, 161, 161, 1);
  box-shadow: 0px 6px 5px -4px rgba(161, 161, 161, 1);
}

.navbar-header > div:first-child {
  background: rgb(41, 41, 41);
  background: linear-gradient(
    94deg,
    rgba(41, 41, 41, 1) 0%,
    rgba(254, 254, 254, 1) 100%
  );
}

.navbar-header > div.navbar-links,
div.navbar-header-right {
  display: flex;
  align-items: center;
}

.navbar-header > div.navbar-links > a {
  color: whitesmoke;
  font-size: xx-large;
  margin-left: 5%;
}

.navbar-header > div.navbar-header-right {
  display: flex;
}
.navbar-header > div.navbar-header-right > * {
  margin-right: 5%;
}

div.add-film-dropdown {
  position: relative;
  display: inline-block;
}
div.add-film-dropdown > span.trigger {
  color: #fff;
}

div.add-film-dropdown > ul.body {
  display: none;
  position: absolute;
  padding: 0;
  width: 300%;
  border-radius: 5px;
  background: #96bdc6;
  color: #fff;
}

div.add-film-dropdown > ul.body > * {
  margin-top: 5%;
}

div.add-film-dropdown > ul.body.showed {
  display: block;
  animation: 500ms dropdown-show forwards;
  justify-content: space-around;
  width: 5vw;
  height: 10vh;
}

div.add-film-dropdown > ul.body.showed > li {
  border-top: 1px solid #000;
  height: 2vh;
}

div.add-film-dropdown > ul.body.showed > li:last-child {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

div.add-film-dropdown > ul.body.showed > li {
  padding-left: 10px;
}

div.add-film-dropdown > ul.body.showed > li > a {
  color: #fff;
}

div.add-film-dropdown > ul.body.showed > li:hover {
  filter: brightness(50%);
}

div.search-bar {
  height: 65%;
  width: 5vw;
  background: #d9d9d9;
  border-radius: 5px;
}

div.search-bar > input[type="text"] {
  height: 100%;
  width: 100%;
  background: none;
  padding: 0;
  margin: 0;
  font-size: large;
  border: none;
  outline: none;
  margin-left: 15px;
}

div.search-bar:has(input[type="text"].search-bar:focus) {
  width: calc(50vw + 30px) !important;
  height: 85%;
  border: #292929 solid 1px;
  background: #fff;
}

span.addToDb {
  color: #fff;
}

.navbar-header:has(input[type="text"].search-bar:focus)
  > div.navbar-header-right
  > .add-film-dropdown,
.navbar-header:has(input[type="text"].search-bar:focus)
  > div.navbar-header-right
  > .private-cabinet-link,
.navbar-header:has(input[type="text"].search-bar:focus) > div.navbar-links,
.navbar-header:has(input[type="text"].search-bar:focus)   > div.navbar-header-right > span.addToDb 
 {
  display: none;
}

span.addToDb > a {
  color: #fff;
}

.navbar-header:has(input[type="text"].search-bar:focus) {
  grid-template-columns: 10% 5% 85%;
}
input[type="text"].search-bar:focus {
  width: 50vw;
}

@keyframes dropdown-show {
  from {
    opacity: 0;
    top: 10;
  }
  to {
    opacity: 1;
    top: 25px;
  }
}

a.private-cabinet-link {
  display: block;
  background: url("../../assets/Default_user_icon.png") no-repeat;
  background-size: contain;
  height: 85%;
  width: 10%;
  border-radius: 0;
  border: 1px solid #000;
  outline: none;
}

a.private-cabinet-link:hover {
  filter: brightness(120%);
  transform: scale(105%);
}

a.private-cabinet-link > button {
  height: 100%;
  width: 100%;
  background: none;
  border: none;
}
