@import "../../index.scss";

.body#signup {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 5.95vh);
  width: 100%;
  margin: 0;
}

.login-wrapper > .TextForm:has(#nickname) {
  grid-area: 4 / 2 / 4 / 2;
}

.login-wrapper > .TextForm:has(#email) {
  grid-area: 6 / 2 / 6 / 2;
}

.login-wrapper > .TextForm:has(#password) {
  grid-area: 8 / 2 / 8 / 2;
}

.login-wrapper > .TextForm:has(#confirm-password) {
  grid-area: 10 / 2 / 10 / 2;
}

.login-wrapper > .TextForm:has(#confirm-password) {
  grid-area: 10 / 2 / 10 / 2;
}

.login-wrapper > #create-account {
  grid-area: 12 / 2 / 12 / 2;
  border: 1px solid;
  background: #fff;
}

.login-wrapper > a.login {
  grid-area: 14 / 2 / 14 / 4;
  
}

.login-wrapper > .TextForm:has(#nickname:invalid:focus)::before {
  content: "Nickname should only contain letters from latin alphabet";
  font-size: medium;
  position: absolute;
  display: flex;
  justify-content: center;
  height: 1.5em;
  margin-left: -30px;
  margin-top: -1.5em;
  background: #000;
  color: #fff;
  border: 1px solid #ff0000;
  width: 405px;
}

.login-wrapper > .TextForm:has(#nickname:valid:focus) {
  border: 2px solid #198754;
}

.login-wrapper > .TextForm:has(#password:invalid:focus)::before {
  content: "Nickname should only contain letters from latin alphabet";
  font-size: medium;
  position: absolute;
  display: flex;
  justify-content: center;
  height: 1.5em;
  margin-left: -30px;
  margin-top: -1.5em;
  background: #000;
  color: #fff;
  border: 1px solid #ff0000;
  width: 405px;
}

#create-account > input {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: none;
  border: 0;
}
